body {
    background: #ecf0f1;
}

/* Navigation Bar */

.container{
    clear: both;
    overflow: auto;
  }
  
  nav {
    float:right;
    padding-right: 10%;
    padding-top: 1%;
  }
  
  .logo img {
    float:left;
    padding-left: 10%;
  }
  
  ul li {
    display: inline-block; 
    padding: 20px;
    font-size: 20px; 
    font-family: sans-serif;
  }
  
  .active {
    color: orange;
  }
  
  ul li:hover a {
    color:orange;
  }
  
  /* Password Validator */
  
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 16px;
  }
  
  input[type=submit] {
    background-color: orange;
    color: white;
  }
  
  .login {
    width: 40%;
  }